---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Halaman Tidak Ditemukan"
    description="Halaman yang Anda cari tidak tersedia atau telah dipindahkan. Kunjungi beranda untuk melanjutkan."
>
    <main class="bg-neutral-50">
        <div
            class="flex flex-col justify-center items-center px-6 mx-auto h-screen xl:px-0"
        >
            <div class="block md:max-w-lg">
                <img
                    src="/gambar/ilustrasi/404_error.svg"
                    alt="Ilustrasi astronaut not found"
                />
            </div>
            <div class="pt-8 space-y-4 text-center xl:max-w-4xl">
                <h1 class="text-2xl font-bold leading-tight text-neutral-900">
                    Oops! Halaman Tidak Ditemukan
                </h1>
                <p class="text-base font-normal text-neutral-500 md:text-lg">
                    Sepertinya halaman yang Anda cari tidak tersedia. <br
                    />Halaman tersebut mungkin telah dihapus atau URL yang Anda
                    masukkan salah.
                </p>
                <a
                    href="/"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3"
                >
                    <svg
                        class="mr-2 -ml-1 w-5 h-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            fill-rule="evenodd"
                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path></svg
                    >
                    Kembali ke Beranda
                </a>
            </div>
        </div>
    </main>
</Layout>
