---
import ChapterNavigation from "../components/ChapterNavigation.astro";
import Layout from "../layouts/Layout.astro";

const title = "Kata Pengantar";
const description =
    "Pengantar ke dalam dunia masakan tradisional Papua yang autentik dan penuh rasa.";
---

<Layout title={title} description={description}>
    <main
        class="max-w-screen-lg mx-auto space-y-6 px-4 md:px-24 lg:px-8 py-8 md:py-12"
    >
        <h1 class="text-3xl font-bold text-neutral-800">{title}</h1>

        <!-- Kata Pengantar dari Dapoer Papoea -->
        <section class="space-y-2">
            <h2 class="text-2xl font-semibold text-neutral-800">
                Kata Pengantar dari Dapoer Papoea
            </h2>
            <p class="text-neutral-700 leading-relaxed">
                Selamat datang di <strong>Dapoer Papoea</strong>, sebuah
                platform digital yang bertujuan untuk melestarikan dan
                memudahkan akses terhadap masakan tradisional khas Papua.
                Melalui teknologi, kami berkomitmen untuk mendigitalisasi dan
                mendokumentasikan resep-resep yang berasal dari buku <em
                    >"Resep Masak Dapur Irian Jaya"</em
                >, yang disusun oleh Pusat Latihan Pelayan Sosial GKI Padang
                Bulan.
            </p>
            <p class="text-neutral-700 leading-relaxed">
                Kami percaya bahwa makanan adalah jembatan budaya, dan melalui
                digitalisasi resep-resep ini, kami berharap masyarakat luas
                dapat merasakan kehangatan dan keramahan masyarakat Papua.
            </p>

            <p class="text-neutral-700 font-semibold pb-4">
                <em>Sentani, 20 November 2024</em><br />
                Dapoer Papoea Team
            </p>

            <!-- Pernyataan -->
            <div class="bg-neutral-100 p-4 rounded-md">
                <h3 class="text-lg font-semibold text-neutral-800">Pernyataan</h3>
                <p class="text-neutral-700 leading-relaxed text-sm mt-2">
                    Kami bukan pencipta konten asli, tetapi hanya memfasilitasi
                    digitalisasi resep-resep dari buku <em
                        >"Resep Masak Dapur Irian Jaya"</em
                    > sebagai upaya melestarikan warisan kuliner Papua. Semua informasi
                    dipublikasikan dengan itikad baik untuk tujuan non-komersial.
                    Jika Anda adalah pemegang hak terkait dan memiliki keberatan
                    atas penggunaan konten ini, silakan menghubungi kami. Kami akan
                    segera meninjau dan mengambil langkah yang diperlukan, termasuk
                    penghapusan konten yang relevan.
                </p>
            </div>
        </section>

        <!-- Kata Pengantar dari Buku Resep -->
        <section class="space-y-2">
            <h2 class="text-2xl font-semibold text-neutral-800 mt-12">
                Kata Pengantar dari Buku Resep
            </h2>
            <p class="text-neutral-700 leading-relaxed">
                <strong>Untuk terbitan pertama</strong>
                Pedoman Resep Memasak ini sangat penting sekali. Oleh karena itu
                kami dengan senang hati membuat pedoman resep memasak ini untuk disumbangkan
                kepada wanita-wanita di Irian Jaya, terutama bagi ibu-ibu yang ada
                di kampung-kampung.
            </p>
            <p class="text-neutral-700 leading-relaxed">
                Memang Pedoman Resep Memasak ini sangat penting dan bermanfaat
                bagi rumah tangga kita, dan oleh karena itu kami sudah
                mengumpulkan banyak bahan dari buku <em>"Pelita Dapur"</em>, dan
                juga bahan yang lain, yang kami ambil dari <em
                    >"hasil praktek murid-murid PLPS-GKI Padang Bulan"</em
                >, dari beberapa angkatan yang lalu.
            </p>
            <p class="text-neutral-700 leading-relaxed">
                Kami yakin bahwa tentu terdapat banyak sekali kekurangan untuk
                menyusun buku Pedoman Resep Memasak ini, tetapi kami juga
                berharap bahwa buku ini akan menjadi pedoman yang sederhana
                untuk menolong dan membina serta mendidik ibu-ibu di Irian Jaya,
                yang kemudian bisa dapat dihargai oleh orang banyak.
            </p>
            <p class="text-neutral-700 font-semibold mt-6">
                <em>Padang Bulan / Abepura, Juli 1983</em><br />
                Pimpinan PLPS-GKI
            </p>

            <p class="text-neutral-700 leading-relaxed pt-2">
                <strong>Untuk terbitan kedua</strong>
                Buku yang pertama diterbitkan dalam bentuk stenselan dengan judul
                <em>"Pedoman Resep Memasak"</em>, telah habis terjual. Namun
                masih adanya orang-orang yang membutuhkannya, mendorong kami
                mengusahakan terbitannya yang kedua.
            </p>
            <p class="text-neutral-700 leading-relaxed">
                Dalam terbitan ini yang diterbitkan dalam bentuk cetak, terjadi
                perubahan pada judul dan gambar kulit. Adapula variasi lain, dan
                tambahan beberapa resep masakan dari makanan asli, dan resep
                lainnya dari siswi PLPS angkatan 13 dan 14.
            </p>
            <p class="text-neutral-700 leading-relaxed">
                Besar harapan kami bahwa buku ini berarti bagi dapur-dapur
                sederhana di Irian Jaya.
            </p>
            <p class="text-neutral-700 font-semibold mt-6">
                <em>Padang Bulan / Abepura, 15 April 1987</em><br />
                Pimpinan PLPS-GKI
            </p>
        </section>

        <ChapterNavigation
            nextTitle="Makanan Sehat Bagi Keluarga"
            nextLink="/makanan-sehat-bagi-keluarga/"
        />
    </main>
</Layout>
