---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Tentang"
  description="Website tentang berbagai resep traditional khas Papua"
>
  <main>
    <div
      class="max-w-screen-lg mx-auto space-y-6 px-4 md:px-24 lg:px-8 py-8 md:py-12"
    >
      <!-- Content -->
      <div class="space-y-5 md:space-y-8">
        <div class="space-y-3">
          <h3 class="text-2xl font-semibold">
            Menjaga Warisan Kuliner Khas Papua
          </h3>

          <p class="text-lg text-neutral-800">
            Dapoer Papoea adalah sebuah website yang dibangun berbasis open
            source dengan tujuan utama untuk menampung dan melestarikan berbagai
            resep olahan khas Papua. Kami berkomitmen untuk menjadi wadah
            digital yang mempermudah masyarakat mengakses dan mempraktikkan
            resep-resep tradisional dari wilayah Papua.
          </p>
        </div>

        <p class="text-lg text-neutral-800">
          Proyek ini dikembangkan oleh <a
            href="https://papuaopensource.github.io"
            class="underline text-black font-semibold">Papua Open Source</a
          >, sebuah komunitas teknologi yang terdiri dari pemuda dan pemudi
          Papua yang ingin berkontribusi bagi kemajuan Papua melalui teknologi.
          Dengan semangat inovasi, Papua Open Source menghadirkan solusi
          berbasis teknologi yang harapannya dapat berdampak positif secara
          sosial tetapi juga melestarikan budaya daerah.
        </p>

        <p class="text-lg text-neutral-800">
          Seluruh konten resep di Dapoer Papoea ditulis berdasarkan referensi
          dari buku <strong>"Resep Masak Dapur Irian Jaya"</strong>, yang
          disusun oleh <em>Marijke Werimon-Bakker</em>, <em>Hendrina Rumsaur</em
          >, <em>Dianne Gee</em> dan <em>Reggie Pangkatana</em>. Buku ini
          diterbitkan oleh Pusat Latihan Pelayan Sosial GKI Padang Bulan,
          Abepura.
        </p>

        <ul class="list-disc list-outside space-y-5 ps-5 text-lg text-neutral-800">
          <li class="ps-2">
            Berbasis open source, Dapoer Papoea memungkinkan komunitas untuk
            berkontribusi dalam melestarikan resep-resep tradisional.
          </li>
          <li class="ps-2">
            Dikembangkan oleh Papua Open Source, proyek ini menunjukkan
            bagaimana teknologi dapat digunakan untuk memperkuat identitas
            budaya.
          </li>
          <li class="ps-2">
            Dengan Dapoer Papoea, siapa pun dapat belajar dan merasakan
            pengalaman memasak masakan khas Papua, di mana pun mereka berada.
          </li>
        </ul>

        <p class="text-lg text-neutral-800">
          Kami percaya bahwa makanan adalah bagian penting dari identitas
          budaya, dan dengan melestarikan resep-resep tradisional Papua, kami
          turut berkontribusi dalam menjaga kekayaan budaya. Dengan dukungan
          dari komunitas Papua Open Source, kami berharap inisiatif ini dapat
          menjadi inspirasi bagi generasi muda Papua untuk terus berinovasi dan
          memajukan Tanah Papua.
        </p>

        <!-- Lampiran -->
        <h2 class="text-2xl font-semibold text-neutral-800">Lampiran</h2>

        <div class="flex flex-col md:flex-row gap-6">
          <div class="text-center">
            <img
              src="/gambar/buku/sampul_luar_buku.jpeg"
              alt="Sampul Luar: Buku Resep Masak Dapur Irian Jaya"
              class="border p-4 w-full rounded-md shadow-sm hover:shadow"
            />
            <div class="mt-2 sm:mt-4">
              <p class="text-neutral-600 font-medium">Sampul Luar</p>
            </div>
          </div>
          <div class="text-center">
            <img
              src="/gambar/buku/sampul_dalam_buku.jpeg"
              alt="Sampul Dalam: Buku Resep Masak Dapur Irian Jaya"
              class="border p-4 w-full rounded-md shadow-sm hover:shadow"
            />
            <div class="mt-2 sm:mt-4">
              <p class="text-neutral-600 font-medium">Sampul Dalam</p>
            </div>
          </div>
        </div>
      </div>

      <!-- End Content -->
    </div>
  </main>
</Layout>
