---
export interface Props {
    prevTitle?: string;
    prevLink?: string | null;
    nextTitle?: string;
    nextLink?: string | null;
}

const { prevTitle, prevLink, nextTitle, nextLink } = Astro.props;
---

<div
    class="mt-8 border-t pt-4 flex flex-col md:flex-row justify-between items-center gap-4 md:gap-0"
>
    {
        prevTitle && prevLink ? (
            <a
                href={prevLink}
                class="text-neutral-600 text-sm hover:underline flex items-center justify-start w-full md:w-auto"
            >
                &larr; {prevTitle}
            </a>
        ) : (
            <span class="w-full md:w-auto" />
        )
    }

    {
        nextTitle && nextLink ? (
            <a
                href={nextLink}
                class="text-neutral-600 text-sm hover:underline flex items-center justify-end w-full md:w-auto"
            >
                {nextTitle} &rarr;
            </a>
        ) : (
            <span class="w-full md:w-auto" />
        )
    }
</div>
