---
export interface Props {
    prevTitle?: string;
    prevLink?: string | null;
    nextTitle?: string;
    nextLink?: string | null;
}

const { prevTitle, prevLink, nextTitle, nextLink } = Astro.props;
---

<div
    class="mt-8 border-t pt-4 flex flex-col md:flex-row justify-between items-center gap-4 md:gap-0"
>
    {
        prevTitle && prevLink ? (
            <a
                href={prevLink}
                class="text-neutral-600 text-sm hover:underline flex items-center justify-start w-full md:w-auto"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 size-4 me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                {prevTitle}
            </a>
        ) : (
            <span class="w-full md:w-auto" />
        )
    }

    {
        nextTitle && nextLink ? (
            <a
                href={nextLink}
                class="text-neutral-600 text-sm hover:underline flex items-center justify-end w-full md:w-auto"
            >
                {nextTitle}
                <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 size-4 ms-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </a>
        ) : (
            <span class="w-full md:w-auto" />
        )
    }
</div>
