<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full py-10 mx-auto">
  <div class="pt-5 mt-5 border-t border-neutral-200">
    <div class="max-w-screen-lg mx-auto flex items-center px-4 sm:px-6 lg:px-8">
      <div class="flex flex-wrap items-center gap-3">
        <p class="text-sm text-neutral-600">
          &copy; 2026 <a
            href="https://papuaopensource.github.io/"
            class="hover:underline">Papua Open Source</a
          >.
        </p>
      </div>
      <!-- End Col -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
