---
import "@fontsource-variable/onest";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<script>
	document.addEventListener("astro:page-load", async () => {
		const preline = await import("preline/dist/preline.js");
		preline.HSStaticMethods.autoInit();
	});
</script>
